.todo-list-item {
  display: flex;
  font-family: "Courier New";
  /* background-color: #1e56a0; */
}

.todo-list-item > h3 {
  background-color: #1e56a0;
}

.todo-header {
  /* background-color: #1e56a0; */
}