.delete:hover {
    cursor: pointer;
}

.paid:hover {
    cursor: pointer;
}


.list-item {
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 10px;
    padding-bottom: 20px;
}
