.create:hover {
    cursor: pointer;
    background-color: lightgray;
}

.expense-create-form {
    margin: 15px;
    padding: 10px;
}

.expense-create-form input {
    margin: 5px;
    border-radius: 5px;
}

.expense-create-title {
    font-size: 25px;
}