*{
    color: #163172;
    background: #f6f6f6;
}


.main-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 100px 200px 100px;
    background-color: #d6E4F0;
    border-radius: 10px;
}

.main-page-container p {
    color: #163172;
    text-align: center;
    font-size: 50px;
}

.welcome-msg {
    justify-content: center;
    background-color: #d6E4F0;
}

.welcome-msg > li {
    list-style: none;
    line-height: 1.5;
    margin: 20px;
    font-size: larger;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: #d6E4F0;
}


footer {
    /* display: flex; */
    margin: 50px;
}

footer p{ 
    text-align: end;
}
