*{
    color: #163172;
    background: #f6f6f6;
}


.main-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    background-color: #d6E4F0;
    border-radius: 10px;
}

.splash-img-container {
    display: flex;
}
.splash-img {
    min-height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

.main-page-container p {
    color: #163172;
    text-align: center;
    font-size: 50px;
}

.welcome-msg {
    justify-content: center;
    background-color: #d6E4F0;
}

.welcome-msg > li {
    list-style: none;
    line-height: 1.5;
    margin: 0px;
    font-size: larger;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    background-color: #d6E4F0;
}

footer {
    /* display: flex; */
    margin: 50px;
}

footer p{ 
    text-align: end;
}
