*{
    font-family: 'Inder', sans-serif;
}
.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1e56a0;
    border-radius: 10px;
}
.main-nav {
    display:flex;
    justify-content: space-between;
    background: #D6e4f0;
    height: 150px;
    margin: 30px 200px 30px;
    align-items: center;
}

.nav-bar-container #link {
    width: 100px;
    text-decoration: none;
    background: transparent;
    color:#f6f6f6;
    font-weight:500;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav-bar-container #link:hover{
    cursor: pointer;
    background-color: #D6e4f0;
    color: #163172;
    border-radius: 5px;
}

.logout-button {
    width: 100px;
    text-decoration: none;
    background: transparent;
    color:#f6f6f6;
    font-weight:900;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logout-button:hover {
    cursor: pointer;
    background-color: #D6e4f0;
    color: #163172;
    border-radius: 5px;
}

.logo-img-word{
    height: 150px;
    background: transparent;
}

.link-container {
    display: flex;
    margin: 20px;
    background: #D6e4f0;
}


.link-word {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 12px 0px 12px;
    font-family: 'Inder', sans-serif;
    background: #00728d;
    /* letter-spacin; */
    color:#f6f6f6;
    margin: 10px;
    font-size: 16px;
    height: 40px;
    width: 80px;
    border-style: none;
    border-radius: 5px;
}

.link-word:hover{
    cursor: pointer;
    background: #1e56a0;
    color:#d6e4f0;
}