* {
  background-color: #f6f6f6;
}

.create-container {
  font-family: "Courier New";
}

/* same as login_form.css */
.entry-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  font-size: 16px;
  background:#d6e4f0;
  margin-left: 200px;
  margin-right: 200px;
}

.form-input {
   font-size: 16px;
   padding: 11px 12px 11px 10px;
   width: 290px;
   margin: 5px;
   outline: 0px;
   border-color: lightgray;
   border-style: solid;
   border-radius: 5px;
   background: transparent;
}

.entry-form > p {
  font-weight: bolder;
  font-size: large;
}

.submit-button {
    text-transform: uppercase;
    background-color: #163172;
    color:#f6f6f6;
    padding: 10px 25px;
    font-size: 16px;
    height: 44px;
    width: 320px;
    border-style: none;
    border-radius: 5px;
}

.submit-button:hover{
    cursor: pointer;
    background: #1e56a0;
    color:#d6e4f0;
}
