* {
    background: #f6f6f6;
}

.Postbox-Container {
    display: flex;
    justify-content:flex-start;
    margin: 20px 180px 20px 180px;
    background:#d6e4f0;
    border-radius: 5px;
}

p {
    padding: 0px 15px 0px 15px;
    text-align: center ;
    font-weight: bold;
    color: #163172;
    background: transparent;
}

button{
    color:#163173;
    font-size: 15px;
    border-style: solid 2px #163173;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.delete {
    background-color: #163172;
    color:#f6f6f6;
    font-size: 15px;
    border-style: none;
    border-radius: 5px;
}

.delete:hover{
    cursor: pointer;
    background: #1e56a0;
    color:#d6e4f0;
}