* {
  background: none;
}
body {
  background:none;
  padding: 16px;
}

.chat-container {
  border: rgba(0, 0, 0, 0.54) dotted 3px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.chat-header{
  display: flex;
  background-image: linear-gradient(to bottom right, #6387f6, #9385f8);
  background-image: linear-gradient(to bottom right, #9ac6c5, #7785ac);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
}

#live-chat-title {
  background: transparent;
  font-size: x-large;
  border-radius: 20px;
  font-family: "Inder", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#chat-img {
  height: 30px;
}

#chat {
  max-height: calc(80vh - 100px);
  overflow: auto;
  padding: 16px;
  background: #d6e4f0;
}

.msg {
  padding: 5px;
  background: none;
}

.msg-author {
  color: gray;
  font-size: 12px;;
  margin: 3px;
}

.msg-content {
  background-color:#a5e6ba;
  border-radius: 10px;
  font-size: 15px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
  margin-left: 2px;
}

/* BottomBar */
.send-box {
  display: flex;
  justify-content: left;
}

#chat-type-box {
  font-size: 1em;
  margin-left: 15px;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;
}
#msg-reminder {
  font-size: 0.8em;
  margin-left: 4px;
}
