.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.logout-button {
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.logout-button:hover {
    cursor: pointer;
    background-color: gray;
}