* {
  margin: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inder", sans-serif;
}

html {
  width: auto;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 50px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: sans-serif;
}

.NavBar a {
  background-color: rgba(255, 255, 255, 0);
}

.nav-logo {
  height: 50px;
  width: 204px;
  margin-left: 18px;
}

.navbar-parent {
  background-color: #d6e4f0;
  min-width: 1280px;
  display: flex;
  flex-direction: row;
}

.navbar-left {
  display: flex;
  width: 550px;
  justify-content: flex-start;
  align-items: center;
  background-color: #d6e4f0;
}

.logo-img-word {
  border-radius: 5px;
}

.logo-img-word:hover {
  transform: none;
}

NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.NavBar a {
  color: black;
}

.navbar-left input {
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 13px;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  width: 170px;
}

.navbar-right a {
  display: flex;
  align-items: center;
  width: 110px;
}

.right-navbar-loggedin {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 320px;
  justify-content: space-between;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.logout-btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Inder", sans-serif;
  background-color: #163172;
  color: white;
  margin: 10px;
  font-size: 16px;
  height: 40px;
  width: 80px;
  border-style: none;
  border-radius: 5px;
}

.logout-btn:hover {
  cursor: pointer;
  background-color: #1e56a0;
}

.search-parent {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  background-color: #d6e4f0;
}

.search-results {
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  max-height: 400px;
  width: fit-content;
  width: 343px;
  max-width: 350px;
  border: none;
  border-radius: 5px;
}

.query-p {
  font-size: 16px;
  padding: 10px;
}

.block {
  display: block;
}

.search-parent input {
  outline: none;
  padding: 0;
  height: 30px;
  width: 200px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding-left: 5px;
  border: none;
}

.search-parent input[type="text"] {
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-parent input[type="text"]:focus {
  width: 100%;
}

.search-item-name {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-wrap: normal;
  flex-direction: column;
}

.search-item-name li {
  font-size: 14px;
  padding: 5px;
  max-width: 227px;
}

.search-item-picture {
  display: flex;
}

.search-item-picture img {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.result-item-parent {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #efefef;
  z-index: 1000;
}

.right-navbar-loggedin a {
  display: flex;
  align-items: center;
  width: 110px;
}

.right-navbar-loggedin > img {
  background-color: rgba(255, 255, 255, 0);
}

.navbar-profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.navbar-profile-pic:hover {
  transform: scale(1.1);
}

#result-1 {
  color: gray;
  font-size: 12px;
}

.navbar-signup-button {
  border-right: none;
}

/*  */

.splash-navbar-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.splash-navbar-container > a {
  color: white;
  background-color: #163172;
}

.link-word {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Inder", sans-serif;
  background-color: #163172;
  color: white;
  margin: 10px;
  font-size: 16px;
  height: 40px;
  width: 80px;
  border-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-word:hover {
  cursor: pointer;
  background-color: #1e56a0;
}

.search-pics {
  z-index: 1000;
}
