* {
  color: #163172;
  background: #d6e4f0;
}

.splash-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 0px 50px 0px;
  border-radius: 10px;
  background: #d6e4f0;
}

.splash-img-container {
  display: flex;
}
.splash-img {
  max-width: 100%;
  height: auto;
}

.splash-container #welcome {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  background: #d6e4f0;
}

.welcome-msg {
  justify-content: center;
  margin-top: 10px;

}

.welcome-msg > li {
  list-style: none;
  line-height: 1.5;
  margin: 0px;
  font-size: larger;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  background: #d6e4f0;

}

footer {
  margin: 50px;
  background: #d6e4f0;
}

footer #footer {
  text-align: end;
  background: #d6e4f0;
}
