* {
  outline: none;
  font-family: sans-serif;
}

.complete-btns {
  font-family: sans-serif;
  font-size: 16px;
  width: 95px;
  height: 35px;
  font-weight: bolder;
  color: white;
  background-color: #163172;
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
}

.complete-btns:hover {
  background-color: #1e56a0;
}
